@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Public+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Public+Sans:400,700&display=swap');


* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #000;
	color: #fff;
	font-family: 'Public Sans', sans-serif;

}

::-webkit-scrollbar {
    width: 0px;
    -webkit-box-shadow: inset 0 0 6px #000000;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #000000;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #FFFFFF;
}

.typed-cursor {
 	-webkit-animation: blink .7s infinite;
	-moz-animation: blink .7s infinite;
	animation: blink .7s infinite;
	opacity: 1;
}

@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

@-webkit-keyframes blink {
  0% { opacity: 1; }
 	50% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

a {
	text-decoration: none;
	color: #fff;
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	padding: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 0.95em;
	height: 10px;
	color: #fff;
	z-index: 10;
	text-align: right;
}

header>p {
	text-align: left;
	float: left;
	margin-left: 3%;
	font-size: 0.9em;
	outline: none;
}

#logo {
	cursor: pointer;
	position: absolute;
	top: 15px;
	height: 30px;
	width: 25px;
	left: 3%;
	background: none;
	outline: none;
	border: none;
}

#logo>span:nth-child(1){
	width: 7px;
	height: 30px;
	background-color: #fff;
	position: absolute;
	left: 0px;
	top: 0px;
	box-shadow: 3px 3px 2px #212121;
}

#logo>span:nth-child(2){
	width: 7px;
	height: 15px;
	background-color: #fff;
	position: absolute;
	left: 17px;
	top: 0px;
	transform: rotate(45deg);
	box-shadow: 3px 3px 2px #212121;
}

#logo>span:nth-child(3){
	width: 7px;
	height: 15px;
	background-color: #fff;
	position: absolute;
	left: 17px;
	top: 15.7px;
	transform: rotate(-45deg);
	box-shadow: 3px 3px 2px #212121;
}

#logo>span:nth-child(4){
	width: 5px;
	height: 10px;
	background-color: #fff;
	position: absolute;
	left: 12.7px;
	top: 10.5px;
}

/* Important styles */
#toggle {
	display: none;
	width: 28px;
	height: 30px;
	margin:  20px auto;
	cursor: pointer;
	position: absolute;
	z-index: 101;
	background: none;
	border: 0px;
	outline: none;
	text-decoration: none;
}


#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 3px;
  background-color: #D3D3D3;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menumob {
  opacity: 0.9;
  visibility: visible;
}


#menumob {
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	width: 100%;
	height: 100vh;
	display: none;
	background: #000;
 	font-size: 15vh;
	text-align: center;
	z-index: 11;
}

#menin {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 12;
}

header>ul {
	margin-right: 2%;
	display: block;
}

header>ul>li {
	text-decoration: none;
	display: inline;
	margin-left: 25px;
	font-size: 0.9em;
}


#socialmedia {
	position: absolute;
	left: 2.5%;
	color: #fff;
	bottom: 3%;
	z-index: 5;
	display: block;
}

#socialmedia>ul>li {
	margin-left: 20px;
	font-size: 0.9em;
	display: inline;
}

@media(max-height: 500px) {
	#logo {
		left: 20px;
	}

	header>ul {
		display: none;
	}

	#toggle {
		display: block;
		top: -5px;
		right: 30px;
	}

	#socialmedia {
		display: none;
	}
}


@media(max-width: 900px) {
	#logo {
		left: 20px;
	}

	header>ul {
		display: none;
	}

	#toggle {
		display: block;
		top: -5px;
		right: 30px;
	}

	#socialmedia {
		display: none;
	}
}

@media(max-height: 300px) {
	header>p{
		font-size: 5vh;
	}

	#toggle {
		right: 20vh;
		top: 1vh;
		width: 5vh;
		height: 5vh;
	}

	header {
		padding-top: 4vh;
		padding-bottom: 4vh;
	}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 13vh;
  height: 0.3vw;
  background-color: #D3D3D3;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

}

#menumob{
	font-size: 1.5em;
}


